<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-md-4">

      <div class="card border-info text-center">
        <div class="card-header">
          Sign up to register yourself
        </div>
        <div class="card-body">
          <img src="https://placeimg.com/128/128/tech/sepia" class="rounded-circle">
          <h4 class="text-center">Angular Singup</h4>
          <form class="form-signin" [formGroup]="form" (ngSubmit)="signup()">
            <input type="text" formControlName="Name" class="form-control mb-2" placeholder="Name" required autofocus>
            <div class="alert alert-danger" *ngIf="nameField.touched && nameField.invalid">
              Name required
            </div>
            <input type="text" formControlName="Email" class="form-control mb-2" placeholder="Email" required autofocus>
            <div class="alert alert-danger" *ngIf="emailField.touched && emailField.invalid">
              Email Id required
            </div>
            <input type="password" formControlName="Password" class="form-control mb-2" placeholder="Password" required>
            <div class="alert alert-danger" *ngIf="passwordField.touched && passwordField.invalid">
              Password required
            </div>
            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit" [disabled]="form.invalid">Sign up</button>
            <a href="#" class="float-right">Need help?</a>
          </form>
        </div>
      </div>
      <a routerLink="/login" class="float-right">Already an user? Click Here to Login</a>
    </div>
  </div>
</div>